<!DOCTYPE html>
<html>
  <head>
    <title>SidebarTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'true' %>
    <link
			rel="stylesheet"
			href="https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css"
		/>
  </head>

  <body>
    <%= render "layouts/navigation"%>
    <%= yield %>

  </body>
</html>
